main {
    color: azure;
}

.nav--main {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div--main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 305px;
}


img {
    border-radius: 3% 3% 1% 1%;
}

main {
    font-size: 2em;
    padding-top: .25em;
    padding-bottom: .125em;
}

small {
    color: #F3BF99;
    font-size: 1rem;
}

address {
    margin: .25rem;
    font-style: normal;
    font-weight: 400;
    font-size: .875rem;
    color: #F5F5F5;
}

.button--email--linkedIn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    align-items: center;
}


button {
    border-radius: 10px;
    border: 1px solid #3e8ce1;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial, monospace;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
}


button:nth-child(1) {
    color: #000000;
}

button:nth-child(2) {
    background-color: #5093E2;
}

footer {
    padding-top: .875rem;
}

a > img {
    margin: 10px;
    width: 40px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}